<template>
  <div class="my-account">
    <v-text-field
      id="full-name"
      name="full-name"
      label="FullName"
      type="text"
      outlined
      persistent-placeholder
      disabled
      color="primary"
      class="mb-1"
      :value="currentUserFullName"
    ></v-text-field>
    <v-text-field
      id="email"
      name="email"
      label="Email"
      type="text"
      outlined
      disabled
      persistent-placeholder
      color="primary"
      class="mb-1"
      :value="currentUserEmail"
    ></v-text-field>
    <v-text-field
      id="phone"
      name="phone"
      label="Phone"
      type="text"
      outlined
      disabled
      persistent-placeholder
      color="primary"
      :value="currentUserPhone"
    ></v-text-field>
  </div>
</template>
<script>
export default {
  name: 'MyAccount',

  computed: {
    currentUser() {
      return this.$auth.user
    },

    currentUserEmail() {
      return this.currentUser?.email
    },

    currentUserPhone() {
      return this.currentUser?.phone
    },

    currentUserFullName() {
      return this.currentUser?.full_name
    },
  },
}
</script>