<template>
  <div class="checkbox">
    <v-checkbox
      v-model="notification.notification_task"
      label="Thông báo khi có task mới"
      hide-details="auto"
      class="mt-0"
      @change="updateUserNotification"
    ></v-checkbox>
    <v-checkbox
      v-model="notification.notification_security"
      label="Thông báo bảo mật"
      hide-details="auto"
      @change="updateUserNotification"
    ></v-checkbox>
    <v-checkbox
      v-model="notification.notification_message"
      label="Thông báo khi có tin nhắn mới"
      hide-details="auto"
      @change="updateUserNotification"
    ></v-checkbox>
  </div>
</template>
<script>
export default {
  name: 'MyNotification',

  data() {
    return {
      notification: {
        id: null,
        notification_task: true,
        notification_security: true,
        notification_message: true,
      },
    }
  },

  async fetch() {
    await this.getUserNotification()
    await this.createUserNotification()
  },

  computed: {
    currentUser() {
      return this.$auth.user
    },
  },

  methods: {
    async getUserNotification() {
      try {
        this.loading = true
        const data = await this.$axios.get(
          `/notifications/${this.currentUser?.id}`
        )
        if (data) {
          this._convertResponseData(data?.data)
        }
      } catch (error) {
      } finally {
        this.loading = false
      }
    },

    async updateUserNotification() {
      try {
        this.loading = true
        const data = await this.$axios.put(
          `/notifications-ex/${this.currentUser?.id}`,
          this.notification
        )
        if (data) {
          this.$toast.success('Update thành công')
          this._convertResponseData(data?.data)
        }
      } catch (error) {
        this.$toast.error(error)
      } finally {
        this.loading = false
      }
    },

    async createUserNotification() {
      try {
        if (!this.notification?.id) {
          this.loading = true
          const data = await this.$axios.post(`/notifications`, {
            user: this.currentUser?.id,
            ...this.notification,
          })
          if (data) {
            this._convertResponseData(data?.data)
          }
        }
      } catch (error) {
      } finally {
        this.loading = false
      }
    },

    _convertResponseData(data) {
      /* eslint camelcase: ["error", {"properties": "never", ignoreDestructuring: true}] */

      const {
        id,
        notification_task,
        notification_security,
        notification_message,
      } = data

      this.notification = {
        id,
        notification_task,
        notification_security,
        notification_message,
      }
    },
  },
}
</script>