<template>
  <div class="secutiry">
    <v-btn outlined x-large color="primary" @click="onChangePassword"
      >Change password</v-btn
    >
  </div>
</template>
<script>
export default {
  name: 'MySecurity',

  methods: {
    onChangePassword() {
      this.$router.push('/auth/change-password')
    },
  },
}
</script>