<template>
  <v-navigation-drawer
    v-model="drawer"
    disable-resize-watcher
    disable-route-watcher
    permanent
    fixed
    floating
    clipped
    app
  >
    <template #prepend>
      <div class="px-1 py-4">
        <v-btn
          text
          rounded
          x-large
          elevation="4"
          color="primary"
          class="font-weight-bold px-8"
        >
          <v-icon class="mr-1">mdi-calendar-check-outline</v-icon>
          My task
        </v-btn>
      </div>
    </template>
    <v-list dense shaped class="pr-4 the-sidebar-list">
      <v-list-item-group color="primary">
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.name" />
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-navigation-drawer>
</template>
<script>
export default {
  name: 'TheSidebar',

  data() {
    return {
      drawer: true,
      items: [
        { name: 'Dashboard', to: '/dashboard', icon: 'mdi-chart-donut' },
        { name: 'Listing', to: '/listing', icon: 'mdi-arrange-send-backward' },
        { name: 'Order', to: '/order', icon: 'mdi-archive-outline' },
        {
          name: 'Users managerment',
          to: '/users-managerment',
          icon: 'mdi-ansible',
        },
      ],
    }
  },
}
</script>
<style lang="scss">
.the-sidebar-list {
  .v-list-item-group .v-list-item {
    border-left: 4px solid #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .v-list-item-group .v-list-item--active {
    border-left: 4px solid #3d5afe;
  }
}
.theme--light.v-navigation-drawer {
  border-right: 1px solid #f1f3f4 !important;
}
</style>