<template>
  <div class="the-account">
    <template v-if="isLoggedIn">
      <v-menu offset-y min-width="150px">
        <template #activator="{ on, attrs }">
          <v-btn outlined fab small color="primary" v-bind="attrs" v-on="on">
            <v-avatar size="30" color="red">
              <img
                src="https://randomuser.me/api/portraits/men/46.jpg"
                alt="alt"
              />
            </v-avatar>
          </v-btn>
        </template>
        <v-list dense>
          <v-list-item
            v-for="(item, index) in items"
            :key="index"
            nuxt
            :to="item.to"
          >
            <v-list-item-title>{{ item.name }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </template>
    <template v-else>
      <v-btn text fab small color="default" nuxt to="/auth/login"
        ><v-icon>mdi-account-circle-outline</v-icon>
      </v-btn>
    </template>
  </div>
</template>
<script>
export default {
  name: 'TheAccount',

  data() {
    return {
      items: [
        { name: 'Profile', to: '/account/profile' },
        { name: 'Logout', to: '/auth/logout' },
      ],
    }
  },

  computed: {
    isLoggedIn() {
      return this.$auth?.loggedIn
    },
  },
}
</script>