<template>
  <div class="the-popup">
    <v-dialog
      :value="isShowPopup"
      min-width="300"
      width="400"
      hide-overlay
      @click:outside="close"
    >
      <v-card class="py-4">
        <v-card-title>{{ popup.title }} </v-card-title>
        <v-card-text>
          {{ popup.content }}
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <template v-if="activePopupType === popupType.ALERT">
            <v-btn text color="default" @click.prevent="close"> Đóng </v-btn>
          </template>
          <template v-else-if="activePopupType === popupType.POPUP">
            <v-btn text color="default" @click.prevent="ignore"> Hủy </v-btn>
            <v-btn text color="primary" @click.prevent="confirm">
              Đồng ý
            </v-btn>
          </template>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { POPUP_TYPE } from '@/utils'
export default {
  name: 'ThePopup',
  data() {
    return {
      popupType: POPUP_TYPE,
      timeoutPopup: null,
    }
  },
  computed: {
    ...mapGetters({
      isShowPopup: 'popup/isShowPopup',
      popup: 'popup/popup',
      isAutoClose: 'popup/isAutoClose',
    }),
    activePopupType() {
      return this.popup?.type
    },
  },
  watch: {
    isShowPopup() {
      if (this.isAutoClose) {
        this.timeoutPopup = setTimeout(
          function () {
            this.close()
          }.bind(this),
          3000
        )
      }
    },
  },
  methods: {
    ...mapActions({ resetPopup: 'popup/resetPopup' }),
    close() {
      this.resetPopup()
      this.$nuxt.$emit('popup-close')
    },
    confirm() {
      try {
        this.$nuxt.$emit('popup-popup')
        this.popup?.onPopup?.handler()
        this.close()
      } catch (error) {}
    },
    ignore() {
      this.$nuxt.$emit('popup-ignore')
      this.close()
    },
  },
  detroyed() {
    clearTimeout(this.timeoutPopup)
  },
}
</script>
