<template>
  <div class="the-toast">
    <v-snackbar
      color="#020124CC"
      :value="isShowSnackbar"
      :timeout="6000"
      @input="closeSnackbar"
    >
      {{ toast.content }}

      <template #action="{ attrs }">
        <v-btn fab small color="white" text v-bind="attrs" @click="closeSnackbar">
          <v-icon small>mdi-close</v-icon>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { TOAST_COLOR } from '@/utils'
export default {
  name: 'BToast',
  data() {
    return {
      snackbar: false,
    }
  },
  computed: {
    ...mapGetters({
      toast: 'toast/toast',
      isReset: 'toast/isReset',
    }),
    toastString() {
      return `${this.toast?.content}-${this.toast?.color}`
    },
    isShowSnackbar() {
      return !this.isReset && this.snackbar
    },
    snackbarColor() {
      let color = 'primary'
      switch (this.toast.color) {
        case TOAST_COLOR.INFO:
          color = 'info'
          break
        case TOAST_COLOR.SUCCESS:
          color = 'success'
          break
        case TOAST_COLOR.ERROR:
          color = 'error'
          break
        case TOAST_COLOR.WARNING:
          color = 'warning'
          break
        default:
          color = 'info'
          break
      }
      return color
    },
  },
  watch: {
    toastString() {
      this.snackbar = true
    },
  },
  methods: {
    ...mapActions({
      resetNotifier: 'toast/resetNotifier',
    }),
    closeSnackbar() {
      this.snackbar = false
      this.resetNotifier()
    },
  },
}
</script>
