<template>
  <v-app-bar color="white" flat fixed app clipped-left>
    <div class="the-header__logo">
      <v-list-item two-line>
        <v-list-item-avatar>
          <the-logo></the-logo>
        </v-list-item-avatar>
      </v-list-item>
    </div>
    <v-text-field
      name="Search"
      placeholder="Search..."
      rounded
      filled
      hide-details="auto"
      width="600px"
      dense
      color="primary"
      append-icon="mdi-focus-field"
      class="text-body-2 flex-grow-0 rounded the-header__search"
    ></v-text-field>
    <v-spacer></v-spacer>
    <div class="d-flex flex-row justify-end align-center">
      <v-btn color="default" small text fab
        ><v-icon>mdi-sticker-check-outline</v-icon></v-btn
      >
      <v-btn color="default" small text fab
        ><v-icon>mdi-bell-outline</v-icon></v-btn
      >
      <v-btn text fab small color="default"
        ><v-icon>mdi-cog-outline</v-icon></v-btn
      >
      <v-btn text fab small color="default"
        ><v-icon>mdi-dots-grid</v-icon></v-btn
      >
      <the-account></the-account>
    </div>
  </v-app-bar>
</template>
<script>
import TheAccount from '@/components/layout/the-account.vue'
import TheLogo from '@/components/icon/logo.vue'

export default {
  name: 'TheHeader',

  components: {
    TheAccount,
    TheLogo,
  },

  data() {
    return {
      drawer: false,
    }
  },
}
</script>
<style lang="scss">
.theme--light.v-app-bar.v-toolbar.v-sheet {
  border-bottom: 1px solid #f1f3f4 !important;
}
.the-header__logo {
  width: 242px;
}
.the-header__search {
  width: 500px !important;
}
</style>
