<template>
  <div :class="$style['change-password-form']">
    <div class="d-flex flex-column justify-center align-center py-4">
      <icon-logo width="50" height="50"></icon-logo>
      <h3 class="mt-5 font-weight-black text-h5">Yêu cầu đổi mật khẩu</h3>
    </div>
    <v-card elevation="1" min-width="400" class="rounded-lg py-4">
      <v-card-text>
        <div class="px-4 py-6">
          <v-form ref="forgotPasswordForm" v-model="valid">
            <v-text-field
              id="email"
              name="email"
              label="Email"
              type="email"
              outlined
              :rules="rules.email"
              persistent-placeholder
              color="primary"
              class="mb-2"
              disabled
              :value="currentUserEmail"
            ></v-text-field>
          </v-form>
          <div class="text-small black--text text--uppercase">
            <v-btn
              text
              small
              color="primary"
              nuxt
              to="/account/profile"
              class="text-body-2 px-1 mb-1"
              >QUAY LẠI TRANG PROFILE</v-btn
            >
          </div>
          <v-btn
            depressed
            block
            x-large
            color="primary"
            :loading="loading"
            @click="onForgotPassword"
            >YÊU CẦU ĐỔI MẬT KHẨU</v-btn
          >
        </div>
      </v-card-text>
    </v-card>

    <auth-support></auth-support>
  </div>
</template>
<script>
import IconLogo from '@/components/icon/logo.vue'
import AuthSupport from '@/components/base/auth/support.vue'
import { RULES } from '@/utils'

export default {
  name: 'AuthForgotPassword',
  components: {
    IconLogo,
    AuthSupport,
  },
  data() {
    return {
      valid: false,
      loading: false,
      fil: {
        email: '',
      },
      rules: {
        email: [
          (v) => !!v || 'Trường email không được bỏ trống',
          (v) => RULES.EMAIL.test(v) || 'Email không đúng định dạng',
        ],
      },
    }
  },

  computed: {
    currentUserEmail() {
      return this.$auth.user?.email
    },
  },

  methods: {
    async onForgotPassword() {
      try {
        if (this.$refs.forgotPasswordForm.validate()) {
          this.loading = true
          const data = await this.$axios.post('auth/change-password', this.fil)
          if (data) {
            this.$toast.success('Vui lòng kiểm tra email để thay mật khẩu!')
            this.$router.push('/account/profile')
          }
        }
      } catch (error) {
        this.$toast.error('Email không tồn tại trong hệ thống.')
      } finally {
        this.loading = false
      }
    },
  },
}
</script>
<style module>
.change-password-form {
  background-color: #fff;
}
</style>
