<template>
  <div>
    <div
      elevation="0"
      class="d-flex flex-column justify-center align-center py-4"
    >
      <icon-logo width="50" height="50"></icon-logo>
      <h3 class="mt-5 font-weight-black text-h5">
        Đăng nhập tài khoản của bạn
      </h3>
    </div>
    <v-card elevation="1" min-width="400" class="rounded-lg py-4">
      <v-card-text>
        <div class="px-4 py-6">
          <v-form ref="login" v-model="valid">
            <v-text-field
              id="email"
              v-model="fil.identifier"
              name="email"
              label="Email"
              type="email"
              outlined
              :rules="rules.identifier"
              persistent-placeholder
              color="primary"
              class="mb-2"
            ></v-text-field>
            <div class="d-flex flex-column justify-end align-stretch mb-8">
              <v-text-field
                id="password"
                v-model="fil.password"
                name="password"
                label="Mật khẩu"
                outlined
                persistent-placeholder
                color="primary"
                hide-details="auto"
                :rules="rules.password"
                :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPass ? 'text' : 'password'"
                @click:append="showPass = !showPass"
                @keypress.enter="onLogin"
              ></v-text-field>
              <v-btn
                small
                text
                color="primary"
                class="align-self-end"
                nuxt
                to="/auth/forgot-password"
                >BẠN QUÊN MẬT KHẨU ?</v-btn
              >
            </div>
          </v-form>
          <v-btn
            depressed
            block
            x-large
            color="primary"
            :loading="loading"
            @click="onLogin"
            >Đăng nhập</v-btn
          >
          <v-btn
            depressed
            block
            x-large
            text
            color="primary"
            nuxt
            to="/auth/register"
            class="mt-4"
            >HOẶC ĐĂNG KÝ TÀI KHOẢN MỚI</v-btn
          >
        </div>
      </v-card-text>
    </v-card>

    <auth-support></auth-support>
  </div>
</template>
<script>
import IconLogo from '@/components/icon/logo.vue'
import AuthSupport from '@/components/base/auth/support.vue'
import { RULES } from '@/utils'

export default {
  name: 'AuthLoginForm',
  components: {
    IconLogo,
    AuthSupport,
  },
  data() {
    return {
      valid: false,
      loading: false,
      showPass: false,
      fil: {
        identifier: '',
        password: '',
      },
      rules: {
        identifier: [
          (v) => !!v || 'Trường email không được bỏ trống',
          (v) => RULES.EMAIL.test(v) || 'Email không đúng định dạng',
        ],
        password: [
          (v) => !!v || 'Trường mật khẩu không được bỏ trống',
          (v) =>
            RULES.PASSWORD.test(v) ||
            'It nhất 8 kí tự bao gồm chữ hoa, chữ thường và số',
        ],
      },
    }
  },
  methods: {
    async onLogin() {
      try {
        this.loading = true
        await this.$auth.loginWith('local', { data: this.fil })
        this.$toast.success('Đăng nhập thành công')
      } catch (error) {
        this.$toast.error(error)
      } finally {
        this.loading = false
      }
    },
  },
}
</script>
