<template>
  <div :class="$style['register-form']">
    <div class="d-flex flex-column justify-center align-center py-4">
      <icon-logo width="50" height="50"></icon-logo>
      <h3 class="mt-5 font-weight-black text-h5">Đăng ký tài khoản mới</h3>
    </div>
    <v-card elevation="1" min-width="400" class="rounded-lg py-4">
      <v-card-text>
        <div class="px-4 py-6">
          <v-form ref="registerForm" v-model="valid">
            <v-text-field
              id="fullName"
              v-model="fil.full_name"
              name="fullName"
              label="Họ và Tên"
              type="text"
              outlined
              :rules="rules.fullName"
              persistent-placeholder
              color="primary"
              class="mb-2"
            ></v-text-field>
            <v-text-field
              id="phone"
              v-model="fil.phone"
              name="phone"
              label="Số điện thoại"
              type="text"
              outlined
              :rules="rules.phone"
              persistent-placeholder
              color="primary"
              class="mb-2"
            ></v-text-field>
            <v-text-field
              id="email"
              v-model="fil.email"
              name="email"
              label="Email"
              type="email"
              outlined
              :rules="rules.email"
              persistent-placeholder
              color="primary"
              class="mb-2"
            ></v-text-field>
            <v-text-field
              id="password"
              v-model="fil.password"
              name="password"
              label="Mật khẩu"
              outlined
              :rules="rules.password"
              persistent-placeholder
              color="primary"
              :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
              :type="showPass ? 'text' : 'password'"
              @click:append="showPass = !showPass"
              @keypress.enter="onRegister"
            ></v-text-field>
          </v-form>
          <div class="text-small black--text text--uppercase">
            ĐÃ CÓ TÀI KHOẢN?
            <v-btn
              text
              small
              color="primary"
              nuxt
              to="/auth/login"
              class="text-body-2 px-1 mb-1"
              >ĐĂNG NHẬP NGAY</v-btn
            >
          </div>
          <v-btn
            depressed
            block
            x-large
            color="primary"
            :loading="loading"
            @click="onRegister"
            >Đăng ký</v-btn
          >
        </div>
      </v-card-text>
    </v-card>

    <auth-support></auth-support>
  </div>
</template>
<script>
import IconLogo from '@/components/icon/logo.vue'
import AuthSupport from '@/components/base/auth/support.vue'
import { RULES } from '@/utils'

export default {
  name: 'AuthRegisterForm',
  components: {
    IconLogo,
    AuthSupport,
  },
  data() {
    return {
      valid: false,
      loading: false,
      showPass: false,
      fil: {
        username: '',
        email: '',
        password: '',
        full_name: '',
        phone: '',
      },
      rules: {
        fullName: [(v) => !!v || 'Trường fullName không được bỏ trống'],
        email: [
          (v) => !!v || 'Trường email không được bỏ trống',
          (v) => RULES.EMAIL.test(v) || 'Email không đúng định dạng',
        ],
        password: [
          (v) => !!v || 'Trường mật khẩu không được bỏ trống',
          (v) =>
            RULES.PASSWORD.test(v) ||
            'It nhất 8 kí tự bao gồm chữ hoa,chữ thường và số',
        ],
        phone: [
          (v) => !!v || 'Trường số điện thoại không được bỏ trống',
          (v) => RULES.PHONE.test(v) || 'Số điện thoại không đúng định dạng',
        ]
      },
    }
  },
  methods: {
    async onRegister() {
      try {
        if (this.$refs.registerForm.validate()) {
          const array = this.fil.email.split('@', 1)
          this.fil.username = array[0]

          this.loading = true
          const data = await this.$axios.post('auth/local/register', this.fil)
          if (data) {
            this.$toast.success('Đăng ký thành công, vui lòng đăng nhập')
            this.$router.push('/auth/login')
          }
        }
      } catch (error) {
        this.$toast.error('Đăng ký thất bại')
      } finally {
        this.loading = false
      }
    },
  },
}
</script>
<style module lang="scss">
.register-form {
  background-color: #fff;
}
</style>
