<template>
  <div :class="$style['reset-password-form']">
    <div class="d-flex flex-column justify-center align-center py-4">
      <icon-logo width="50" height="50"></icon-logo>
      <h3 class="mt-5 font-weight-black text-h5">Thiết lập lại mật khẩu</h3>
    </div>
    <v-card elevation="1" min-width="400" class="rounded-lg py-4">
      <v-card-text>
        <div class="px-4 py-6">
          <v-form ref="resetPasswordForm" v-model="valid">
            <v-text-field
              id="password"
              v-model="fil.password"
              name="password"
              label="Mật khẩu"
              outlined
              :rules="rules.password"
              persistent-placeholder
              color="primary"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              :type="showPassword ? 'text' : 'password'"
              @click:append="showPassword = !showPassword"
            ></v-text-field>
            <v-text-field
              id="passwordConfirmation"
              v-model="fil.passwordConfirmation"
              name="passwordConfirmation"
              label="Xác nhận mật khẩu"
              outlined
              :rules="rules.password"
              persistent-placeholder
              color="primary"
              :append-icon="
                showPasswordConfirmation ? 'mdi-eye' : 'mdi-eye-off'
              "
              :type="showPasswordConfirmation ? 'text' : 'password'"
              @click:append="
                showPasswordConfirmation = !showPasswordConfirmation
              "
              @keypress.enter="onResetPassword"
            ></v-text-field>
          </v-form>
          <v-btn
            text
            small
            color="primary"
            nuxt
            to="/"
            class="text-body-2 px-1 mb-1"
            >QUAY LẠI TRANG CHỦ</v-btn
          >
          <v-btn
            depressed
            block
            x-large
            color="primary"
            :loading="loading"
            @click="onResetPassword"
            >RESET MẬT KHẨU</v-btn
          >
        </div>
      </v-card-text>
    </v-card>

    <auth-support></auth-support>
  </div>
</template>
<script>
import IconLogo from '@/components/icon/logo.vue'
import AuthSupport from '@/components/base/auth/support.vue'
import { RULES } from '@/utils'

export default {
  name: 'AuthResetPassword',
  components: {
    IconLogo,
    AuthSupport,
  },
  data() {
    return {
      valid: false,
      loading: false,
      showPassword: false,
      showPasswordConfirmation: false,
      fil: {
        password: '',
        passwordConfirmation: '',
      },
      rules: {
        password: [
          (v) => !!v || 'Trường mật khẩu không được bỏ trống',
          (v) =>
            RULES.PASSWORD.test(v) ||
            'It nhất 8 kí tự bao gồm chữ hoa, chữ thường và số',
        ],
      },
    }
  },

  computed: {
    resetCode() {
      return this.$route.query?.code
    },
  },
  methods: {
    async onResetPassword() {
      try {
        if (this.$refs.resetPasswordForm.validate()) {
          const payload = {
            code: this.resetCode, // code contained in the reset link of step 3.
            password: this.fil.password,
            passwordConfirmation: this.fil.passwordConfirmation,
          }

          this.loading = true
          const data = await this.$axios.post('auth/reset-password', payload)

          if (data) {
            this.$toast.success('Đổi mật khẩu thành công, vui lòng đăng nhập')
            this.$router.push('/auth/login')
          }
        }
      } catch (error) {
        this.$toast.error('Đổi mật khẩu không thành công')
      } finally {
        this.loading = false
      }
    },
  },
}
</script>
<style module>
.reset-password-form {
  background-color: #fff;
}
</style>
