<template>
  <div class="staff-page onbackground h-full pa-8">
    <v-card class="staff-page__filter rounded-lg elevation-0 mb-4">
      <v-card-text>
        <staff-filter></staff-filter>
      </v-card-text>
    </v-card>
    <v-card class="staff-page__content rounded-lg elevation-0">
      <v-card-text>
        <staff-list class="rounded-lg"></staff-list>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import StaffList from '@/modules/users/components/staff/staff-list.vue'
import StaffFilter from '@/modules/users/components/staff/staff-filter.vue'

export default {
  name: 'StaffPage',
  components: { StaffList, StaffFilter },
}
</script>
<style lang="scss">
.staff-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
</style>
