<template>
  <div :class="$style['auth-change-password-page']">
    <auth-change-password></auth-change-password>
  </div>
</template>
<script>
import AuthChangePassword from '../components/change-password-form.vue'
export default {
  name: 'AuthLogin',
  components: {
    AuthChangePassword,
  },
  layout: 'guest',
  middleware: 'auth',
}
</script>
<style module>
.auth-change-password-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
</style>