<template>
  <div :class="$style['auth-forgot-password-page']">
    <auth-forgot-password></auth-forgot-password>
  </div>
</template>
<script>
import AuthForgotPassword from '../components/forgot-password-form.vue'
export default {
  name: 'AuthForgotPasswordPage',

  components: {
    AuthForgotPassword,
  },

  layout: 'guest',

  auth: 'guest',
}
</script>
<style module>
.auth-forgot-password-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
</style>
