<template>
  <div class="auth-login-page">
    <auth-login-form></auth-login-form>
  </div>
</template>
<script>
import AuthLoginForm from '../components/login-form.vue'
export default {
  name: 'AuthLoginPage',

  components: {
    AuthLoginForm,
  },

  layout: 'guest',

  auth: 'guest',
}
</script>
<style lang="scss" scoped>
.auth-login-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
</style>