<template>
  <div :class="$style['auth-register-page']">
    <auth-register-form></auth-register-form>
  </div>
</template>
<script>
import AuthRegisterForm from '../components/register-form.vue'
export default {
  name: 'AuthRegister',
  components: {
    AuthRegisterForm,
  },
  layout: 'guest',

  auth: 'guest',
}
</script>
<style module>
.auth-register-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
</style>