<template>
  <div :class="$style['auth-reset-password-page']">
    <auth-reset-password></auth-reset-password>
  </div>
</template>
<script>
import AuthResetPassword from '../components/reset-password-form.vue'
export default {
  name: 'ResetPassword',

  components: {
    AuthResetPassword,
  },

  layout: 'guest',

  auth: 'guest',
}
</script>
<style module>
.auth-reset-password-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
</style>