@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

// $body-font-family: 'Source Sans Pro', sans-serif;
$btn-text-transform: none;

.v-data-table-header {
  background-color: #f1f3f4 !important;
  white-space: nowrap !important;
  border-radius: 4px !important;
  overflow: hidden !important;
}
