<template>
  <v-app light>
    <the-header></the-header>
    <the-sidebar></the-sidebar>
    <v-main>
      <v-container fluid class="h-full pa-0">
        <Nuxt />
      </v-container>
    </v-main>
    <the-toast></the-toast>
    <the-popup></the-popup>
  </v-app>
</template>

<script>
import TheHeader from '@/components/layout/the-header.vue'
import TheSidebar from '@/components/layout/the-sidebar.vue'
import TheToast from '~/components/layout/the-toast.vue'
import ThePopup from '~/components/layout/the-popup.vue'

export default {
  name: 'DefaultLayout',

  components: {
    TheHeader,
    TheSidebar,
    TheToast,
    ThePopup,
  },

  middleware: 'auth',

  data() {
    return {}
  },
}
</script>
