<template>
  <v-app class="background">
    <v-main>
      <v-container fill-height>
        <Nuxt />
      </v-container>
    </v-main>
    <the-toast></the-toast>
    <the-popup></the-popup>
  </v-app>
</template>

<script>
import TheToast from '~/components/layout/the-toast.vue'
import ThePopup from '~/components/layout/the-popup.vue'

export default {
  name: 'GuestLayout',

  components: {
    TheToast,
    ThePopup,
  },
}
</script>
<style lang="scss" scoped>
.background {
  background-color: #fff;
}
</style>