<template>
  <div
    class="
      d-flex
      flex-row
      justify-space-between
      align-start
      onbackground
      h-full
      pa-4
    "
  >
    <v-card width="560px" elevation="0" class="mr-2 pa-4">
      <v-card-title class="font-weight-black"> Profile </v-card-title>
      <v-card-text>
        <my-account></my-account>
      </v-card-text>
      <v-card-title class="font-weight-black"> Notification </v-card-title>
      <v-card-text>
        <my-notification></my-notification>
      </v-card-text>
      <v-card-title class="font-weight-black"> Securities </v-card-title>
      <v-card-text>
        <my-security></my-security>
      </v-card-text>
    </v-card>
    <v-card elevation="0" class="flex-grow-1">
      <v-card-text> </v-card-text>
    </v-card>
  </div>
</template>
<script>
import MyAccount from '@/modules/account/components/my-account.vue'
import MyNotification from '@/modules/account/components/my-notification.vue'
import MySecurity from '@/modules/account/components/my-security.vue'

export default {
  name: 'AccountProfilePage',

  components: {
    MyAccount,
    MyNotification,
    MySecurity,
  },
}
</script>