<template>
  <v-card max-width="450" class="my-4" color="#fff" elevation="0">
    <v-list class="py-0">
      <v-list-item class="px-0">
        <span
          class="d-flex justify-center align-center mr-2"
          style="width: 40px; height: 40px"
        >
          <v-icon class="primary--text text-h6">mdi-headset</v-icon>
        </span>
        <v-list-item-content class="py-0">
          <v-list-item-title class="font-weight-bold"
            >Bạn gặp sự cố?</v-list-item-title
          >
          <v-list-item-subtitle
            >Xin hãy liên hệ
            <v-btn
              href="tel:19001577"
              text
              x-small
              color="primary"
              class="pa-0 mb-1 text-normal text-body-2"
              >team support nhé!</v-btn
            >
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-card>
</template>
<script>
export default {
  name: 'AuthSupport',
}
</script>
