<template>
  <svg
    width="40"
    height="40"
    viewBox="0 0 40 40"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M36.6666 18.3334H29.7166L35.1166 12.925L32.7583 10.575L24.9999 18.3334H21.6666V15L29.4249 7.24171L27.0749 4.88337L21.6666 10.2834V3.33337H18.3333V10.2834L12.9249 4.88337L10.5749 7.24171L18.3333 15V18.3334H14.9999L7.24159 10.575L4.88325 12.925L10.2833 18.3334H3.33325V21.6667H10.2833L4.88325 27.075L7.24159 29.425L14.9999 21.6667H18.3333V25L10.5749 32.7584L12.9249 35.1167L18.3333 29.7167V36.6667H21.6666V29.7167L27.0749 35.1167L29.4249 32.7584L21.6666 25V21.6667H24.9999L32.7583 29.425L35.1166 27.075L29.7166 21.6667H36.6666V18.3334Z"
      fill="#3D5AFE"
    />
  </svg>
</template>
<script>
export default {
  name: 'IconLogo',
  props: {
    width: {
      type: String,
      default: '20',
    },
    height: {
      type: String,
      default: '20',
    },
    color: {
      type: String,
      default: '#3D5AFE',
    },
  },
}
</script>
