<template>
  <div class="staff-filter">
    <v-chip-group v-model="selectedFilter" column color="primary">
      <v-chip filter outlined> Active </v-chip>
      <v-chip filter outlined> Agent </v-chip>
    </v-chip-group>
    <v-text-field
      name="Search"
      placeholder="Search..."
      rounded
      filled
      hide-details="auto"
      height="34px"
      width="100px"
      color="primary"
      class="flex-grow-0 text-body-2"
    ></v-text-field>
  </div>
</template>
<script>
export default {
  name: 'StaffFilter',
  data() {
    return {
      selectedFilter: null,
    }
  },
}
</script>
<style lang="scss">
.staff-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .v-chip.v-chip--active {
    border: 1px solid #3d5afe;
    font-weight: bold;
  }
  .v-text-field .v-input__slot {
    min-height: auto !important;
    border-color: rgba(0, 0, 0, 0.12);
  }
}
</style>
