<template>
  <div class="staff-list">
    <v-data-table
      mobile-breakpoint="0"
      :headers="headers"
      :items="staffs"
      :items-per-page="5"
      class="elevation-0"
    >
      <template #item.blocked="{ item }">
        <v-switch v-model="item.blocked" inset dense></v-switch>
      </template>
      <template #item.permision="{ item }">
        <v-select
          v-model="item.user_permisions"
          :items="staffPermisions"
          multiple
          solo
          dense
          flat
          deletable-chips
          hide-details="auto"
          item-text="permission_name"
          color="primary"
          append-icon="mdi-plus"
          class="elevation-0 text-body-2 column__permission"
        >
          <template #selection="{ item }">
            <v-chip small color="primary">{{ item.permission_name }}</v-chip>
          </template>
        </v-select>
      </template>
      <template #item.detail="{ item }">
        <v-btn
          color="primary"
          small
          text
          class="font-weight-bold"
          @click="onViewDetail(item)"
          >Chi tiet</v-btn
        >
      </template>
    </v-data-table>
  </div>
</template>
<script>
export default {
  name: 'StaffList',
  data() {
    return {
      headers: [
        {
          text: 'USER_ID',
          align: 'start',
          sortable: false,
          value: 'id',
        },
        { text: 'HO TEN', value: 'full_name' },
        { text: 'EMAIL', value: 'email' },
        { text: 'PHONE', value: 'phone' },
        { text: 'ACCOUNT STATUS', value: 'blocked' },
        { text: 'ROLE', value: 'permision' },
        { text: 'DETAIL', value: 'detail' },
      ],
      staffs: [],
      staffPermisions: [],
    }
  },

  async fetch() {
    await this.getStaffPermisions()
    await this.getStaffs()
  },

  methods: {
    async getStaffs() {
      try {
        this.loading = true
        const data = await this.$axios.get(`users?is_staff=true`)
        if (data) {
          this.staffs = data.data
        }
      } catch (error) {
      } finally {
        this.loading = false
      }
    },

    async getStaffPermisions() {
      try {
        this.loading = true
        const data = await this.$axios.get(`/user-permisions?is_staff=true`)
        if (data) {
          this.staffPermisions = data.data
        }
      } catch (error) {
      } finally {
        this.loading = false
      }
    },

    onViewDetail() {},
  },
}
</script>
<style lang="scss">
.staff-list {
  .column__permission {
    width: fit-content;
  }
  .column__permission.v-input {
    max-width: 200px !important;
  }
  .v-select__selections {
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .v-select__selections .v-chip {
    flex-shrink: 0 !important;
  }
}
</style>
